name: finger_game
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: any
  flutter_svg: ^1.1.6
  provider: ^6.1.5+1
  hive_flutter: ^1.1.0 
  hive: ^2.2.3
  lottie: ^2.7.0
  translator: 

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  hive_generator: ^2.0.1 
  build_runner: ^2.4.0
  analyzer: ^6.4.1


flutter:
  generate: true
  uses-material-design: true
 
  
  assets:
    - assets/images/
    - assets/icons/
    - assets/lottie/Success.json
